.section__conteudos {
    padding: 0 4vw;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.contanier__conteudos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.conteudo__h1 {
    color: var(--cor4);
    font-size:4.6vw;
}

.conteudo__h2 {
    font-size: 1.9vw;
    font-weight: 400;
}

.navegacao__menu {
    width: 39vw;
}

.menu__navegacao {
    display: flex;
    justify-content: space-between;
}

.contanier__navegacao {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--cor4);
    font-weight: 500;
    font-size: min(3.5vw, 1.1rem);
}

.navegacao__img {
    background-image: url('../../img/arrow.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 9px;
    height: 9px;
}

.conteudo__img {
    width: 25vw;
}

.section__sobre {
    background-color: var(--cor2);
    padding: 4vw;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.contanier__sobre {
    max-width: 730px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
}


.section__skills, .section__hobbies {
    background-color: var(--cor1);
    padding-top: 2rem;
}

.skills__h2, .hobbies__h2 {
    text-align: center;
}

.contanier__skills, .contanier__hobbies {
    padding: 0 4vw;
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
}

.skills, .hobbies {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: var(--branco);
    width: 15%;
    height: 150px;
    margin: 2rem 0;
    padding: 0 0 0.5rem .7rem;
}

.skills__img, .hobbies__img {
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: .8rem;
}

.img__html {
    width: 24px;
    height: 28px;
    background-image: url('../../img/htlm.png');
}

.img__js {
    width: 28px;
    height: 28px;
    background-image: url('../../img/js_icon.png');
}

.img__php {
    width: 40px;
    height: 22px;
    background-image: url('../../img/php_icon.png');
}

.img__nodejs {
    width: 40px;
    height: 26px;
    background-image: url('../../img/nodejs_icon.png');
}

.img__react {
    width: 32px;
    height: 30px;
    background-image: url('../../img/react_icon.png');
}

.img__css {
    width: 22px;
    height: 36px;
    background-image: url('../../img/css_icon.png');
}

.img__skate {
    width: 32px;
    height: 32px;
    background-image: url('../../img/skate_icon.png');
}

.img__baixo {
    width: 34px;
    height: 33px;
    background-image: url('../../img/guitar_icon.png');
}

.img__musica {
    width: 32px;
    height: 32px;
    background-image: url('../../img/headphones_icon.png');
}

.img__tv {
    width: 32px;
    height: 32px;
    background-image: url('../../img/tv_icon.png');
}

.img__cozinhar {
    width: 27px;
    height: 25px;
    background-image: url('../../img/forkspoon_icon.png');
}

.img__foto {
    width: 32px;
    height: 32px;
    background-image: url('../../img/camera_icon.png');
}

.skills__paragrafo, .hobbies__paragrafo {
    font-weight: 700;
}


.section__academicos {
    background-color: var(--cor2);
}

.academicos__h2 {
    text-align: center;
    padding: 2rem;
}

.contaniers__academicos {
    display: flex;
    gap: 2%;
    padding: 0 4vw;
}

.contanier__academico {
    width: 100%;
    margin-bottom: 1rem;
}

.academico__imagens {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contanier__imagem {
    background-color: var(--branco);
    width: 100%;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.section__experencias__profissionais {
    padding: 0 4vw;
}

.experiencias__h2 {
    text-align: center;
    margin: 2rem;
}

.contanier__experiencias__profissionais {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 2rem;
}

.contanier__experiencias__profissionais__inverso {
    flex-direction: row-reverse;
}

.experiencias__img {
    width: 63%;
}

.experiencias__profissionais {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.experiencias__botoes {
    display: inline-block;
    width: 120px;
    text-align: center;
    line-height: 2.5rem;
    border: 1px solid var(--cor5);
}

.enperienciais__botao__1 {
    color: var(--cor5);
    margin-right: 1rem;
}

.enperienciais__botao__2 {
    background-color: var(--cor5);
    color: var(--branco);
}

@media screen and (max-width: 1024px) {
    
    .conteudo__h1 {
        font-size: 2.8vw;
    }
    
    .conteudo__h2 {
        width: 90%;
    }

   .navegacao__menu {
    width: 53vw;
   }

    .skills, .hobbies {
        width: 32%;
        height: 110px;
    }

    .contanier__imagem {
        height: 160px;
    }

    .contanier__experiencias__profissionais {
        flex-direction: column;
        align-items: flex-start;
    }

    .experiencias__img {
        width: 100%;
    }

}

@media screen and (max-width: 768px) {
    .section__conteudos {
        align-items: flex-start;
        flex-direction: column-reverse;
    }

    .navegacao__menu {
        width: 88vw;
    }

    .skills, .hobbies {
        width: 49%;
        height: 110px;
    }

    .contanier__conteudos {
        width: 96%;
        margin-top: 1.5rem;
    }

    .conteudo__h1 {
        font-size: 6vw;
    }

    .conteudo__h2 {
        font-size: 3.8vw;
        width: 100%;
    }

    .contanier__navegacao {
        font-weight: 700;
    }

    .contaniers__academicos {
        flex-direction: column;
    }

    .contanier__imagem {
        height: 150px;
    }
}